experiments
chexpert
c14
mimic
data_viewer
*.edf
*.EDF
*.mat
*.m~
*.csv
mimic-sample
*.json
*.pkl
*.wav
*.wav.back
__pycache__
credentials
old
src/interface/*.txt
src/interface/*.asc
heatmaps
heatmaps_new
heatmaps_chestbox/
heatmaps_chestbox_phase_2/
heatmaps_phase_1_1.9_150/
heatmaps_phase_2_1.9_150/
results
results_phase_2
*.hdf5
*.asc
*.txt
collected_data
anonymized_collected_data
*.ogv
*.mpg
*.mpeg
20201113/
*.png
*.avi
ibm_models_infos/
syllabalizer/
ibm/
datasets/test/2.png
debugging_or_one_time_scripts/
.git.back/
